@import play.api.data.Field
@import play.api.i18n.MessagesProvider
@import views.html.b3

@(field: Field, options: (Symbol, Any)*)(implicit messagesProvider: MessagesProvider)

@implicitFieldConstructor = @{ b3.inline.fieldConstructor() }

<section>
  @b3.password(field, (Symbol("data-pwd"), "true") +: options:_*)

  <meter max="4" id="password-strength-meter"></meter>
  <p id="password-strength-text"></p>
</section>
