@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import authentication.Authenticated
@import _root_.utils.SiteMap
@import _root_.utils.MainViewAuthenticatedContext

@()(implicit
  viewContext: MainViewAuthenticatedContext
)

@import viewContext._
@import viewContext.frontComponents._

@main(Some(messages("home.title")), SiteMap("home")) {
  <div class="clearfix">
    <div class="user col-md-6 col-md-offset-3">
      <div class="row">
        <hr class="col-md-12" />
        <h4 class="col-md-8">@messages("profile")</h4>
        <div class="col-md-4 text-right">
          <img src='@assets.path("images/silhouette.png")' height="40px" />
        </div>
        <hr class="col-md-12" />
      </div>
      <div class="row data">
        <div class="col-md-12">
          <div class="row">
            <p class="col-md-6"><strong>@messages("first.name"):</strong></p>
            <p class="col-md-6">
              @authenticated.user.data.firstName.getOrElse("None")
            </p>
          </div>
          <div class="row">
            <p class="col-md-6"><strong>@messages("last.name"):</strong></p>
            <p class="col-md-6">
              @authenticated.user.data.lastName.getOrElse("None")
            </p>
          </div>
          <div class="row">
            <p class="col-md-6"><strong>@messages("full.name"):</strong></p>
            <p class="col-md-6">
              @authenticated.user.data.fullName.getOrElse("None")
            </p>
          </div>
          <div class="row">
            <p class="col-md-6"><strong>@messages("email"):</strong></p>
            <p class="col-md-6">
              @authenticated.user.data.email
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spaced"></div>
}
