@import _root_.utils.MainViewContext

@(method: String, uri: String, error:String)(implicit
  viewContext: MainViewContext
)

@main(Some("Bad Request"), None){

  <div class="jumbotron balloon">
    <div class="container text-center">
      <h1>Bad Request</h1>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <p id="detail">
        For request '@method @uri' [@error]
      </p>
      @_detailedSupportLink()
    </div>
  </div>

}
