@import _root_.utils.MainViewContext

@()(implicit
  viewContext: MainViewContext
)

@main(Some("Unauthorized"), None){

  <div class="jumbotron balloon">
    <div class="container text-center">
      <h1>Unauthorized</h1>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <p id="detail">
        You must be authenticated to access this page.
      </p>
      @_detailedSupportLink()
    </div>
  </div>

}
